*{
    border: 1px solid black;
}
body{
    background-color: darkgrey;
}
img{
    width: 300px;
    height: 500px;
}
.character-section{
    /* display: none; */
}
character-image{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
