/* *{
    border: 1px solid red;
} */
body{
    background-color: #2b2e30;
}
/* header styling */
header{
    text-align: center;
    font-family: 'Concert One', cursive;
}
h1{
    color: yellow;
    text-shadow: 3px 3px black;
}
/* setting sizes for page elements */
#main{
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
}
#flex-container{
    width: 100%;
    margin: auto;
}
aside{
    width: 100%;
}
#character-buttons{
    width: 60%;
    height: 100px;
    /* margin-left:20%; */
    margin: auto;
    display: flex;
    justify-content: center;
}
/* button styling */
button{
    border: 1px solid gold;
    border-radius: 10px;
    width: 175px;
    padding: 10px;
    background-color: black;
    color: yellow;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
}
button:hover{
    color: lightblue;
    border: 1px solid lightblue;
}
/* set size of div that contains character card */
#card-container{
    margin: auto;
    margin-top: 15px;
    display: block;
    width: 500px;
    height: 700px;
}
/* Set standard image size, crop images if I can */
img{
    width: 300px;
    height: 500px;
}
/* create flex rules for character cards */
.character-section{
    display: flex;
align-items: center;
}
.character-info{
    height: 185px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    margin-top: 15px;
    padding: 15px;
    color: white;
}
.character-image{
    display: flex;
    justify-content: space-around;
    /* For some reason, only the about image is not obeying the space arond property */
}
/* create media query to change the display properties if the screen is below 600px width */
@media screen and (max-width: 600px){
    body{
        background-color: #212120;
    }
    button{
        width: 75px;
        font-size: 14px;
    }
    .character-info{
        font-size: 14px;
        height: 125px;
    }
}
